html {
  height: strech;
  height: -webkit-strech;
}

body, #__next {
  margin: 0px;
  min-height: 100vh;
  min-height: strech;
  min-height: -webkit-strech;
}


* {
  box-sizing: border-box;
  font-family: 'Forum', cursive;
}
